{% extends "profiles_app/base.html" %}
{% load static %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/roast_list.css' %}"> {% endblock %}

{% block content %}


<!-- Hero section (full width, top) -->
<div class="hero-section">
    <h1 style="font-size: 3rem">
        Browse our roasts. 
        Brew it your way. 
        Share the experience.
</div>
<div class ="opener">
    </h1>
    <h3>
        Whether you're passing through Oxford or you're a Heartbreak 'regular', we believe the best way to select 
        the right roast is by hearing from the people who brew it their way. Use this journal to find 
        users with similar preferences to guide your own brew or to pick out something special for gifting!
    </h3>
</div>
    


<hr>

<!-- Roast list -->
<h3 id="filter-by">Filter By:</h3>
<form method="get" action="#filter-by" class="roast-filters">
          <!-- Filters -->

            <label for="profile">Roast Profile:</label>
            <select id="profile" name="profile">
                <option value="">All profiles</option>
                <option value="light" {% if profile == "light" %}selected{% endif %}>Light</option>
                <option value="medium" {% if profile == "medium" %}selected{% endif %}>Medium</option>
                <option value="dark" {% if profile == "dark" %}selected{% endif %}>Dark</option>
            </select>

            <label for="crowd">Crowd:</label>
            <select id="crowd" name="crowd">
                <option value="">All audiences</option>
                <option value="crowd-pleaser" {% if crowd == "crowd-pleaser" %}selected{% endif %}>Crowd-pleaser</option>
                <option value="coffee enthusiast" {% if crowd == "coffee enthusiast" %}selected{% endif %}>Coffee Enthusiast</option>
            </select>

            <label for="sort">Sort by:</label>
            <select id="sort" name="sort">
                <option value=""{% if sort == "default" %}selected{% endif %}>Default</option>
                <option value="popular"{% if sort == "popular" %}selected{% endif %}>Popularity</option>
            </select>

            <button type="submit" class="button-primary" id="apply-filter-button">Apply</button>
        </form>

<hr>

<div class="roast-grid">
    {% for roast in roasts %}
        <div class="roast-card">
            <h1>
                <a href="{% url 'roast_details' roast.pk %}">{{ roast.name }}</a>
            </h1>
            <p style="font-size:1rem; margin-top:0.25rem;">
                {{ roast.tasting_notes }}
            </p>
        </div>

    {% empty %}
        <p>No roasts yet.</p>
    {% endfor %}
</div>

<hr>

<h3 class="section-title" id="latest-brews">Latest Brews</h3>


<div class="brew-grid">
    {% for entry in latest_entries %}
        <div class="brew-card">
            <strong>{{ entry.title }}</strong> by {{ entry.user.username }}<br>
            <em>{{ entry.roast.name }}</em><br>
            {{ entry.entry|truncatechars:50 }}
        </div>
    {% empty %}
        <p>No entries yet.</p>
    {% endfor %}
</div>  

<hr>

<!-- Gifting roasts -->
<h3>Our Gift Picks:</h3>
<p>There's something for everyone. Grab one of these to get the best of the best!</p>
<div class="roast-grid gifting-roasts">
    {% for roast in gifting_roasts %}
        <div class="roast-card">
            <h2>
                <a href="{% url 'roast_details' roast.pk %}" class="featured-roast-link">
                    {{ roast.name }}
                </a>
            </h2>
        </div>
    {% endfor %}
</div>











{% endblock %}
