{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Coffee App{% endblock %}</title>
    <style>
        nav {
            text-align: center;
        }
        nav a {
            margin-right: 15px;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 2rem;
        }
    </style>
</head>
<body>

    <nav>
     <a href="{% url 'roast_list' %}">Home</a>
        {% if user.is_staff %} 
        <a href="/admin/">Admin</a>
        <a href="{% url 'profile_detail' %}">Profile</a>
        <a href="{% url 'brewentry_list' %}">My Journal Entries</a>
        <a href="{% url 'community'%}">Community Feed</a>
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
        {% else %}
            {% if user.is_authenticated %}
                <a href="{% url 'profile_detail' %}">Profile</a>
                <a href="{% url 'brewentry_list' %}">My Journal Entries</a>
                <a href="{% url 'community'%}">Community Feed</a>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'community'%}">Community Feed</a>
            {% endif %}
        {% endif %}
    </nav>

    <hr>


    {% block content %}{% endblock %}

</body>
</html>
