{% extends "profiles_app/base.html" %} 
{% block content %}


<h2>User:{{ profile.user.username }}</h2>
<p>First and Last name:{{ profile.first_last_name}}</p>
<p>Bio: {{ profile.bio }}</p>
<p> City: {{ profile.city_state }}</p>
<p> State: {{ profile.state }}</p>
<p> Favorite Brew Method: {{ profile.fav_brew }}</p>
<p> Roast Preference: {{ profile.roast_preference }}</p>



{% comment %} button only works if user is is_authenticated {% endcomment %}

{% if user.is_authenticated %}
  <a href="{% url 'profile_edit' %}">Edit profile</a>
{% endif %}

{% comment %} logout below {% endcomment %}

<form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    {% comment %} <button type="submit">Log Out</button> {% endcomment %}
</form>

{% endblock %}