{% extends "profiles_app/base.html" %} 
{% block content %}


<h2>{{ profile.user.username }}</h2>
<p>{{ profile.bio }}</p>
<p>{{ profile.city_state }}</p>

{% comment %} button only works if user is is_authenticated {% endcomment %}

{% if user.is_authenticated %}
  <a href="{% url 'profile_edit' %}">Edit profile</a>
{% endif %}

{% comment %} logout below {% endcomment %}

<form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    {% comment %} <button type="submit">Log Out</button> {% endcomment %}
</form>

{% endblock %}