{% extends "profiles_app/base.html" %} 
{% block content %}


<hr>

<h2>User: {{ profile.user.username }}</h2>
{% if not profile.first_last_name and not profile.bio and not profile.city_state and not profile.state and not profile.fav_brew and not profile.roast_preference%}
<p>New to the community? Edit your profile to tell us more about you!</p>
{% endif %}

{% if profile.first_last_name %}
<p>First and Last name: {{ profile.first_last_name}}</p>
{% endif %}

{% if profile.bio %}
<p>Bio: {{ profile.bio }}</p>
{% endif %}

{% if profile.city_state %}
<p> City: {{ profile.city_state }}</p>
{% endif %}

{% if profile.state %}
<p> State: {{ profile.state }}</p>
{% endif %}

{% if profile.fav_brew %}
<p> Favorite Brew Method: {{ profile.fav_brew }}</p>
{% endif %}

{% if profile.roast_preference %}
<p> Roast Preference: {{ profile.roast_preference }}</p>
{%endif%}


<hr>


{% if user.is_authenticated %}
  <a href="{% url 'profile_edit' %}">Edit profile</a>
{% endif %}

<form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
   
</form>

{% endblock %}