{% extends "profiles_app/base.html" %}

{% block content %}

<h1>My Journal Entries</h1>

<hr>

<a href="{% url 'brewentry_create'%}">Create New Entry</a>

<hr>

{% for entry in entries %}

<h2>
    <a href="{% url 'brewentry_detail' entry.pk %}">
        <strong>{{entry.title}}</strong>
    </a>
</h2>
<h3>Roast: {{entry.roast}}</h3>
<h3>Date Created: {{entry.date_created}}</h3>

<hr>

<p>{{entry.entry}}</p> 

<hr>


{% empty %}

<h2>No entries yet!</h2>
<p>Your coffee journal is empty. Start by creating your first brew entry.</p>

<a href="{% url 'brewentry_create'%}"> 
    <button type="submit">Create entry</button>
</a>

{% endfor %}

{% endblock %}